In [11]:
# import csv
# import json

import pandas as pd
import numpy as np

In [13]:
cols = ['transaction_unique_id',
       'price',
       'date_of_transfer',
       'postcode',
       'property_type',
       'old_new',
       'duration',
       'PAON',
       'SAON',
       'street',
       'locality',
       'town_city',
       'district',
       'country',
       'PPD_category_type',
       'record_status']

ppd_df = pd.read_csv('pp-2021-part1.csv', names=cols)
ppd_df.head()

,transaction_unique_id,price,date_of_transfer,postcode,property_type,old_new,duration,PAON,SAON,street,locality,town_city,district,country,PPD_category_type,record_status
0,{C3C3F9B5-F41B-362B-E053-6B04A8C03ACC},420000,2021-01-22 00:00,PE11 3PE,D,N,F,13,NaN,MARKET WAY,PINCHBECK,SPALDING,SOUTH HOLLAND,LINCOLNSHIRE,A,A
1,{C3C3F9B5-F41C-362B-E053-6B04A8C03ACC},295000,2021-02-26 00:00,LN1 2XS,T,N,F,1,NaN,HAYES YARD,INGHAM,LINCOLN,WEST LINDSEY,LINCOLNSHIRE,A,A
2,{C3C3F9B5-F41D-362B-E053-6B04A8C03ACC},96000,2021-02-11 00:00,PE12 7DS,T,N,F,8,NaN,CHANCERY LANE,HOLBEACH,SPALDING,SOUTH HOLLAND,LINCOLNSHIRE,A,A
3,{C3C3F9B5-F41F-362B-E053-6B04A8C03ACC},225000,2021-02-18 00:00,LN12 2JJ,D,N,F,5,NaN,YOULGRAVE AVENUE,SUTTON ON SEA,MABLETHORPE,EAST LINDSEY,LINCOLNSHIRE,A,A
4,{C3C3F9B5-F420-362B-E053-6B04A8C03ACC},110000,2021-03-12 00:00,NG33 4BY,S,N,F,17,NaN,WOOD END,ROPSLEY,GRANTHAM,SOUTH KESTEVEN,LINCOLNSHIRE,A,A

In [14]:
ppd_df.shape

(146058, 16)

In [15]:
# check duplicates - no duplicates
len(ppd_df.drop_duplicates())

146058

In [16]:
# insert makes 'property_id' the first column
ppd_df.insert(0, 'property_id',
          ppd_df.groupby(['postcode', 
                        'property_type',
                        'old_new',
                        'PAON'], sort=False).ngroup())

In [17]:
# ppd_df.to_csv('test.csv', index=False) #e.g.: unique_id = 109 has three transactions

In [18]:
# for postcode in NaN values,the corresponding values for 'property_id' is -1
# remove those records
ppd_df = ppd_df[ppd_df['property_id']!=-1] #332 rows
ppd_df.shape

(145726, 17)

In [19]:
ppd_df[ppd_df['property_id']==109]

,property_id,transaction_unique_id,price,date_of_transfer,postcode,property_type,old_new,duration,PAON,SAON,street,locality,town_city,district,country,PPD_category_type,record_status
109,109,{C3C3F9B5-FBA0-362B-E053-6B04A8C03ACC},215000,2021-02-19 00:00,M1 2BL,F,N,L,40,APARTMENT 022,HILTON STREET,NaN,MANCHESTER,MANCHESTER,GREATER MANCHESTER,A,A
250,109,{C3C3F9B5-FBD3-362B-E053-6B04A8C03ACC},226500,2021-02-08 00:00,M1 2BL,F,N,L,40,APARTMENT 727,HILTON STREET,NaN,MANCHESTER,MANCHESTER,GREATER MANCHESTER,A,A
378,109,{C3C3F9B5-FBF8-362B-E053-6B04A8C03ACC},262000,2021-05-14 00:00,M1 2BL,F,N,L,40,APARTMENT 025,HILTON STREET,NaN,MANCHESTER,MANCHESTER,GREATER MANCHESTER,A,A

In [20]:
# ppd_df.to_csv('ppd_pandas.csv', index=False)